@use '../abstracts/variables' as *;

.eyebrow {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: $font-weight-medium;
  color: $color-primary;
  margin-bottom: 0.75rem;
}
