<div class="min-h-screen pt-12 pb-24 md:pb-12">
  <div class="max-w-2xl mx-auto px-6">
    <app-stepper [steps]="steps" [currentStepIndex]="currentStepIndex"></app-stepper>
    <!-- SHIPPING -->
    @if (step === 'shipping') {
      <app-shipping (submitShipping)="onShippingSubmit($event)" (backToCart)="onBackToCart()">
      </app-shipping>
    }

    <!-- PAYMENT -->
    @if (step === 'payment') {
      <app-payment
        [shippingData]="shippingData"
        [cartItems]="cartItems"
        (submitPayment)="onPaymentSubmit($event)"
        (backToShipping)="onBackToShipping()"
      >
      </app-payment>
    }

    <!-- CONFIRMATION -->
    @if (step === 'confirmation') {
      <app-confirmation
        [shippingData]="shippingData"
        [orderNumber]="orderNumber"
        (goHome)="onGoHome()"
        (goShop)="onGoShop()"
      >
      </app-confirmation>
    }
  </div>
</div>
