<div class="ramadan-sec mt-16 py-16 px-6 bg-page text-foreground ">
  <div class="container mx-auto 2xl:w-[85%]">
    <div
      class="ramdan-div mx-auto w-full relative bg-[url(/images/ramadan-bg.png)] bg-left ramadan-gradient flex flex-col justify-center gap-6 py-12 px-8 rounded-4xl">
      <div class="absolute inset-0 bg-black/35 rounded-4xl z-0"></div>
      <div class="badge w-fit gap-2 px-4 py-2 rounded-full bg-secondary text-sm text-foreground warm-shadow flex items-center z-10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-moon w-4 h-4 text-foreground"
          style="margin-right: 0.5rem;"
        >
          <path d="M21 12.79A9 9 0 1 1 11.21 3a7 7 0 0 0 9.79 9.79z"></path>
        </svg>
        <span class="relative z-10">Ramadan Mubarak</span>
      </div>
      <h3 class="text-3xl md:text-4xl font-bold text-white relative z-10">Everything for your iftar table</h3>
      <p class="text-white z-10">Dates, samosas, laban & more - all your Ramadan essentials
        in one place.
      </p>
      <a (click)="navigateToCategory('Ramadan Essentials')" class=" btn-accent text-md self-start cursor-pointer z-10">Shop
        Ramadan &RightArrow;</a>
    </div>
    <!-- Ramadan products carousel -->
    <div class="flex gap-5 overflow-x-auto pb-4 pt-8 scrollbar-hide">
      @for (product of ramadanProducts; track product.id) {
        <div class="min-w-60 max-w-55 shrink-0">
          <app-product-card [product]="product"
                            (addToCart)="onAddToCart($event)"
                            (updateQuantity)="onUpdateQuantity($event)"
                            [cartItem]="getCartItem(product.id)"/>
        </div>
      }
    </div>
  </div>
</div>
