<div class="ramadan-sec mt-16 py-16 px-6 bg-page text-foreground ">
  <div class="container mx-auto 2xl:w-[85%]">
    <div
      class="ramdan-div mx-auto w-full  bg-[url(/images/ramadan-bg.png)] bg-left ramadan-gradient flex flex-col justify-center gap-6 py-12 px-8 rounded-4xl">
      <div class="badge w-fit gap-2 px-4 py-2 rounded-full bg-secondary text-sm text-foreground warm-shadow">Ramadan
        Mubarak
      </div>
      <h3 class=" text-3xl md:text-4xl font-bold text-white">Everything for your iftar table</h3>
      <p class="text-white">Dates, samosas, laban & more - all your Ramadan essentials
        in one place.
      </p>
      <a (click)="navigateToCategory('Ramadan Essentials')" class=" btn-accent text-md self-start cursor-pointer">Shop
        Ramadan &RightArrow;</a>
    </div>
    <!-- Ramadan products carousel -->
    <div class="flex gap-5 overflow-x-auto pb-4 pt-8 scrollbar-hide">
      @for (product of ramadanProducts(); track product._id) {
        <div class="min-w-60 max-w-55 shrink-0">
          <app-product-card [product]="product"
                            (addToCart)="onAddToCart($event)"
                            (updateQuantity)="onUpdateQuantity($event)"
                            [cartItem]="getCartItem(product._id)"/>
        </div>
      }
    </div>
  </div>
</div>
